---
layout: default
title: Posts
description: "My latest posts."
permalink: /posts/
---
<h1>Latest Posts</h1>
<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <p class="description">{{ post.description }}</p>
      <ul class="categories">
        {% for category in post.categories %}
          <li class="category">{{ category }}</li>
        {% endfor %}
        </ul>
      <div class="date">{{ post.date }}</p>
    </article>
  {% endfor %}
</div>