@import "variables";

.posts {
  
  .post {
    

  }
}

.description {

}

.categories {
  display: inline;
  list-style-type: none;
  .category {
    color: $darkGray;
    text-decoration: underline;
  }
}

.date {

}