@import 'variables';

nav {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  border-bottom: 1px solid gray;
  border-radius: 1em;
}

.nav-links {
  text-align: center;
  font-size: large;
  list-style-type: none;
  .nav-link {
    display: table-cell;
    padding-right: 1em;
  }
}
