@import "variables";

.posts {
  
  .post {
    

  }
}

.description {

}

.categories {
  list-style-type: none;
  .category {
    text-decoration: underline;
    display: inline;
  }
}

.date {

}
